.logout-nav {
    background-color: black;
    color: aqua;
    padding: 0.5rem;
    overflow: hidden;
    margin-bottom: 2rem;
}
.logout-button {
    background-color: black;
    color: aqua;
    float: right;
}

.balances-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.balance-button {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
}

.balance-button:hover {
    background-color: #0056b3;
}

.balance-button span {
    display: block;
}


.balance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.account-boxes {
    display: flex;
    gap: 20px; 
}

.account-box {
    background-color: #f8f9fa;
    border: 2px solid #343a40;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-box:hover {
    background-color: #343a40;
    color: #ffffff;
}

.account-box h4 {
    margin-bottom: 10px;
}

.account-box p {
    font-size: 1.5rem;
    margin: 0;
}

.button-box {
    background-color: #f8f9fa;
    border: 2px solid #343a40;
    border-radius: 10px;
    padding: 20px;
    height: 100px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-box:hover {
    background-color: #343a40;
    color: #ffffff;
}

.button-box h4 {
    margin-bottom: 10px;
}

.login-container {
    background-color: #f8f9fa;
    border: 2px solid #343a40;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.login-header {
    margin: 0.5rem;
}

.login-input {
    display: flex;
    margin: 1rem;
}

.login-label {
    display: flex;
    flex-direction: row;
}

.login-input-box {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    flex-grow: 1;
}

.login-button {
    width: 50%;
    padding: 5px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
}